alias upd='sudo apt update && sudo apt full-upgrade -y && sudo apt autoremove -y' # self explanitory
alias ls='ls --hyperlink=always --color=auto' # ls with hyperlinks (ctrl+click)
alias ll='ls -lhN --hyperlink=always --color=auto' # ls long-list, human readable, literal with hyperlinks (ctrl+click)
alias lll='ls -al --hyperlink=always --color=auto' # ls all files, long-list with hyperlinks (ctrl+click)
alias nano='nano -l' # runs nano showing numbered lines
alias clean='cd && cat /dev/null > /home/$USER/.zsh_history && history -c && clear' # clears ZSH history
alias ..='cd ..' # go back one directory
alias ...='cd ../..' # go back 2 directories
alias ....=../../.. # go back 3 directories
alias ffs='sudo $(fc -l -n -1)' # runs last command as sudo
alias nm='nmap'
alias pc='proxychains4'
alias curl='curl -A "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.90 Safari/537.36" -k'
alias dig='dig +short'
alias getip="nslookup $1 | grep Address: | grep -v \# | cut -d' ' -f2"
alias http='sudo python3 -m http.server 80'
alias myip='curl ifconfig.me/ip'
alias ifconfig='ip -c --brief addr show'
